.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--accent-bg-color);
}

.footer__container {
  display: block;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer__wrapper-768 {
  @media (min-width: 768px) and (max-width: 1200px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    padding-left: 76px;
    padding-right: 89px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.address {
  text-align: center;
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    text-align: left;
  }
}

.footer__logo--white {
  color: var(--white-color);
}

.address__list {
  margin-top: 20px;

  @media screen and (max-width: 1200px) {
    margin-bottom: 60px;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 8px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.address__post {
  color: var(--white-color);
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
}

.footer__social {
  @media screen and (max-width: 1200px) {
    text-align: center;
    margin-bottom: 60px;
  }
}

.footer__socials {
  @media screen and (max-width: 768px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.socials__link--color {
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__slogan {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  @include fonts(14, 16, 0.03);
  text-transform: uppercase;

  color: var(--white-color);
}

.footer__form-wrapper {
  @media screen and (max-width: 1200px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    width: 570px;
    margin-left: auto;
  }
}
