.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 0;
  left: 0;

  @media screen and (min-width: 450px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--timing-function);
  }

  max-width: 450px;
  max-height: 609px;
  padding: 40px;

  @media screen and (min-width: 1200px) {
    max-width: 528px;
    max-height: 581px;
  }

  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal__title {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  @include fonts(20, 23, 0.03);
  text-align: center;

  color: var(--black-color);
}

.is-noscroll {
  overflow: hidden;
}
