.titles {
    font-weight: 700;
    color: var(--black-color);
}

.section-titles {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    fill: currentColor;
}