.titles {
  font-weight: 700;
  color: var(--black-color);
}

.section-titles {
  margin-bottom: 30px;

  @include fonts(28, 33, 0.03);

  @media screen and (min-width: 1200px) {
    @include fonts(36, 42, 0.03);
    margin-bottom: 50px;
  }
  text-align: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  fill: currentColor;
}
